/* ! Proprietà Personalizzate */
:root {
    --first-color:  #B91450;
}

/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.h-300 {
   min-height: 300px;
}

.h-100 {
    min-height: 100px;
}

/* .bd {
    border: 3px solid black;
} */

.text-purple {
   color: var(--first-color);
}

.bd-purple {
    border-color: var(--first-color);
}

/* # generals*/

body {
    background-color: var(--first-color);
}